html, body {
	font-size: 16px;
	line-height: 1;
}

/* header-wrapper :: 헤더 메뉴 */
.header-wrapper {
	width: 100%;
	background-color: #d4ffd6c5;
	color: #555;
}
.header-wrapper .navi-wrap{
	display: flex;
	justify-content: flex-start;
}
.header-wrapper .navi-wrap .navi {
	display: flex;
	justify-content: center;
}
.header-wrapper .navi-wrap .navi a{
	padding: 1em 1.25em;
}
.header-wrapper .navi-wrap .navi a:hover {
	color: #111;
	background-color: #c9ffd0;
} 
.header-wrapper .monavi-wrap {
	justify-content: flex-end;
	position: relative;
	display: none;
}
.header-wrapper .monavi-wrap .monavi {
	padding: 1em 1.25em;
}
.header-wrapper .monavi-wrap .monavi:hover{
	background-color: #c9ffd0;
	color: #111;
}
.header-wrapper .monavi-wrap .monavi .navi-sub {
	position: absolute;
	top: 49px;
	right: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #d4ffd6c5;
	color: #555;
	font-size: .875em;
	display: none;
}
.header-wrapper .monavi-wrap .monavi .navi-sub > a {
	display: inline;
	width: 100%;
	padding: 1em 3em 1em 1.25em;
}
.header-wrapper .monavi-wrap .monavi .navi-sub > a:hover {
	background-color: #c9ffd0;
	color: #111;
}

@media (max-width: 1200px) {
	
}
@media (max-width: 992px) {
	
}
@media (max-width: 768px) {
	.header-wrapper .navi-wrap {
		display: none;
	}
	.header-wrapper .monavi-wrap {
		display: flex;
	}

}
@media (max-width: 576px) {
	
}