
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu+Condensed&display=swap');


html, body {
	font-size: 16px;
	line-height: 1;
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.wrapper {
	max-width: 1600px;
	margin: auto;
	/* margin-top: 96px; */
}
/* header-wrapper :: 헤더 메뉴 */
.header-wrapper {
	width: 100%;
	background-color: #d4e3ffc5;
	color: #555;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, .7);
	font-family: 'Ubuntu Condensed', sans-serif;
	z-index: 99;
}
.header-wrapper .header-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.header-wrapper .header-wrap .logo {
	width: 20%;
	margin: auto;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 2px 2px 2px rgba(184, 184, 184, 0.7);
	padding: 1em 1.25em;
	justify-content: center;
	text-align: center;
	cursor: pointer;
}
.header-wrap .logo > a{
	display: flex;
	flex-direction: column;
}
.header-wrapper .header-wrap .bars {
	display: none;
}
.header-wrap .bars > i{
	padding: 1.5em 1.25em;
}
.header-wrapper .header-wrap .bars:hover {
	background-color: #c9d7ff;
}
.header-wrapper .navi-wrap{
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	display: none;
}
.header-wrapper .navi-wrap .navi{
	flex: 1;
	text-align: center;
	display: block;
}
.header-wrapper .navi-wrap .navi > a {
	width: 100%;
	padding: 1em 1.25em;
}
.header-wrapper .navi-wrap .navi:hover {
	color: #111;
	background-color: #c9d7ff;
} 

/* header-wrapper .monavi-wrap */
.monavi-wrap {
	width: 100%;
	position: relative;
	display: none;
}
.monavi-wrap .navi-sub {
	width: 100%;
	background-color: #f1f1f1;
	color: #111;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}
.monavi-wrap .navi-sub > a {
	width: 100%;
	display: block;
	padding: 1em;
}
.monavi-wrap .navi-sub > a:hover{
	background-color: #ccc;
}

/* main-wrapper */
.main-wrapper {
	width: 100%;
	/* height: 800px; */
	font-size: 3em;
	text-align: center;
	/* padding: 2em 0; */
	line-height: 2;
	letter-spacing: -3px;
}
.main-wrapper .title i {
	margin-top: .5em;
	font-size: 1.25em;
	animation: 1s infinite splatter;
	transition: all .5s;
	display: none;
}
@keyframes splatter {
	0% { transform: translateY(30px); }
	50% { transform: translateY(0); }
	100% { transform: translateY(30px); }
}

.main-wrapper .title .typing-txt {
	display: none;
}
.typing ul li.on {
	display: inline;
	animation: .3s infinite cursor;
}
@keyframes cursor{
	0%{ border-right: 1px solid #fff; }
	50%{ border-right: 1px solid #000; }
	100%{ border-right: 1px solid #fff; }
}


/* profile-wrapper */
.profile-wrapper {
	width: 100%;
	font-size: 2em;
	/* padding: 3em 0; */
}
.profile-wrapper .title-wrap {
	display: inline;
}
.profile-wrapper .title-wrap .title {
	font-size: 1.125em;
	padding: 1em 0;
	letter-spacing: -1px;
	font-family: 'Permanent Marker', cursive;
}
.profile-wrapper .title-wrap .title i{
	cursor: pointer;
	font-size: .75em;
	opacity: .7;
}
.profile-wrapper .title-wrap .title i:hover {
	opacity: 1;
}
.profile-wrapper .profile-wrap{
	display: flex;
	margin: 1%;
}
.profile-wrap .photo-wrap {
	margin: .325em;
	width: 39%;
}
.profile-wrap .photo-wrap > button {
	font-size: .5em;
	font-weight: bold;
	padding: 1em 2em; 
	margin-top: 1.5em;
	background-color: #fff;
	border: 2px solid #91a5dd;
}
.profile-wrap .photo-wrap > button:hover {
	background-color: #91a5dd;
	color: #fff;
}
.profile-wrap .profile-content{
	width: 70%;
	display: flex;
	flex-direction: column;
	margin: .5em 1% 0 1em;
}
.profile-wrap .profile-content .content-title {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
	letter-spacing: -2px;
	display: flex;
	justify-content: center;
}
.profile-wrap .profile-content .content-title i {
	font-size: .5em;
	padding: 0 .325em;
}
.profile-wrap .profile-content .content {
	font-size: .75em;
}

/* portfolio-wrapper */
.portfolio-wrapper {
	font-size: 2em;
	padding: 3em 0;
}
.portfolio-wrapper .title-wrap .title{
	font-family: 'Permanent Marker', cursive;
	font-size: 1.125em;
	padding: 1em 0;
	letter-spacing: -1px;
}
.portfolio-wrapper .title-wrap .title i{
	cursor: pointer;
	font-size: .75em;
	opacity: .7;
}
.portfolio-wrapper .title-wrap .title i:hover {
	opacity: 1;
}
.portfolio-wrapper .portfolio-wrap {
	width: 80%;
	margin: 0 10%;
}
.portfolio-wrapper .portfolio-wrap .content-wrap {
	width: 100%;
	margin: 0 1%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.5em 0;
	overflow: visible ;
}
.portfolio-wrapper .portfolio-wrap .content-wrap li {
	display: none;
}
.portfolio-wrapper .portfolio-wrap .content-wrap li > a {
	width: 50%;
}
.portfolio-wrapper .portfolio-wrap .content-wrap li > a > img {
	width: 100%;
}
.portfolio-wrap .content-wrap li > div {
	width: 50%;
	margin-left: 2em;

}
.portfolio-wrapper .portfolio-wrap .content-wrap li:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* skill-wrapper */
.skill-wrapper {
	font-size: 2em;
	/* padding: 3em 0; */
}
.skill-wrapper .title-wrap .title{
	font-family: 'Permanent Marker', cursive;
	font-size: 1.125em;
	padding: 1em 0;
	letter-spacing: -1px;
}
.skill-wrapper .title-wrap .title i{
	cursor: pointer;
	font-size: .75em;
	opacity: .7;
}
.skill-wrapper .title-wrap .title i:hover {
	opacity: 1;
}
.skill-wrapper .skill-wrap .skill {
	display: flex;
	margin: .5em;
}
.skill-wrapper .skill-wrap .skill > .title {
	width: 15%;
}
.skill-wrapper .skill-wrap .skill > .bar{
	width: 85%;
	background-color: #91a5dd;
	color: #f1f1f1;
	text-align: center;
	padding: .25em;
}
.skill-wrapper .skill-wrap .skill > .bar > span {
	font-size: 1em;
}


/* contact-wrapper */
.contact-wrapper {
	font-size: 2em;
	/* padding: 3em 0; */
}
.contact-wrapper .title-wrap .title{
	font-family: 'Permanent Marker', cursive;
	font-size: 1.125em;
	padding: 1em 0;
	letter-spacing: -1px;
}
.contact-wrapper .title-wrap .title i{
	cursor: pointer;
	font-size: .75em;
	opacity: .7;
}
.contact-wrapper .title-wrap .title i:hover {
	opacity: 1;
}

.contact-wrap h6 {
	font-size: .875em;
	margin-bottom: .875em;
}
.contact-wrap > i {
	animation: 1s infinite splatter2;
	margin-bottom: .875em;
}

@keyframes splatter2 {
	0% { transform: translateY(10px); }
	50% { transform: translateY(0); }
	100% { transform: translateY(10px); }
}

.contact-wrap .contact > a {
	padding: .5em;
	background-color: #91a5dd;
	color: #fff;
	border-radius: 50%;
	margin: 0 1em;
}
.contact-wrap .contact > a:hover {
	background-color: #c9d7ff;
}

.contact-wrap .contact > a:nth-child(2) > i {
	width: 32px;
}

/* footer-wrapper */
.footer-wrapper {
	background-color: #d4e3ff;
	/* height: 300px; */
	margin-top: 96px; 
}
.footer-wrapper .footer-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* padding: 6em 0; */
	flex-direction: column;
}
.footer-wrapper .footer-wrap > a {
	color: #fff;
	margin-bottom: 1em;
}
.footer-wrapper .footer-wrap i{
	font-size: 3em;
}
.footer-wrapper .footer-wrap > h7{
	
	cursor: pointer;
}
.footer-wrapper .footer-wrap > h7:hover {
	text-decoration: underline;
	color: #80c080;
}
/* responsive */
@media (max-width: 1200px) {
	.profile-wrap .profile-content .content-title .title {
		font-size: .875em;
	}
	.profile-wrap .profile-content .content-title > i {
		font-size: .325em;
	}
}
@media (max-width: 992px) {
	.profile-wrap .profile-content .content-title .title {
		font-size: .7em;
	}
}
@media (max-width: 768px) {
	.header-wrapper .header-wrap {
		justify-content: space-between;
	}
	.header-wrapper .header-wrap .logo {
		margin: 0 .5em;
		display: inline-block;
		padding: .875em;
		font-size: 1em;
	}
	.header-wrapper .header-wrap .bars{
		display: flex;
	}

	.header-wrapper .navi-wrap {
		display: none;
	}
	.header-wrapper .monavi-wrap {
		display: block;
	}
	.main-wrapper {
		margin-top: 64px;
	}
	.profile-wrap .profile-content .content-title .title {
		font-size: .625em;
	}
}
@media (max-width: 576px) {
	
}